In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from numpy.random import rand

In [5]:
df=pd.DataFrame(rand(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.575447  0.847288  0.835059  0.149611
B  0.826455  0.440002  0.974881  0.085936
C  0.608057  0.993989  0.812270  0.654626
D  0.571693  0.216973  0.564686  0.784531
E  0.754758  0.777115  0.134611  0.058939

In [6]:
df['W']

A    0.575447
B    0.826455
C    0.608057
D    0.571693
E    0.754758
Name: W, dtype: float64

In [7]:
df

          W         X         Y         Z
A  0.575447  0.847288  0.835059  0.149611
B  0.826455  0.440002  0.974881  0.085936
C  0.608057  0.993989  0.812270  0.654626
D  0.571693  0.216973  0.564686  0.784531
E  0.754758  0.777115  0.134611  0.058939

In [8]:
df['W']>0.5

A    True
B    True
C    True
D    True
E    True
Name: W, dtype: bool

In [15]:
df['new']=df['W']+df['X']
df

          W         X         Y         Z       new
A  0.575447  0.847288  0.835059  0.149611  1.422735
B  0.826455  0.440002  0.974881  0.085936  1.266457
C  0.608057  0.993989  0.812270  0.654626  1.602046
D  0.571693  0.216973  0.564686  0.784531  0.788666
E  0.754758  0.777115  0.134611  0.058939  1.531873

In [18]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.575447  0.847288  0.835059  0.149611
B  0.826455  0.440002  0.974881  0.085936
C  0.608057  0.993989  0.812270  0.654626
D  0.571693  0.216973  0.564686  0.784531
E  0.754758  0.777115  0.134611  0.058939

In [19]:
df

          W         X         Y         Z       new
A  0.575447  0.847288  0.835059  0.149611  1.422735
B  0.826455  0.440002  0.974881  0.085936  1.266457
C  0.608057  0.993989  0.812270  0.654626  1.602046
D  0.571693  0.216973  0.564686  0.784531  0.788666
E  0.754758  0.777115  0.134611  0.058939  1.531873

In [21]:
df.drop(['new'],axis=1,inplace=True)

In [22]:
df

          W         X         Y         Z
A  0.575447  0.847288  0.835059  0.149611
B  0.826455  0.440002  0.974881  0.085936
C  0.608057  0.993989  0.812270  0.654626
D  0.571693  0.216973  0.564686  0.784531
E  0.754758  0.777115  0.134611  0.058939

In [23]:
df

          W         X         Y         Z
A  0.575447  0.847288  0.835059  0.149611
B  0.826455  0.440002  0.974881  0.085936
C  0.608057  0.993989  0.812270  0.654626
D  0.571693  0.216973  0.564686  0.784531
E  0.754758  0.777115  0.134611  0.058939

In [26]:
df=pd.DataFrame(rand(4,5))
df

          0         1         2         3         4
0  0.194422  0.518418  0.054935  0.290098  0.591849
1  0.771704  0.802277  0.382889  0.166231  0.918706
2  0.101814  0.346876  0.798909  0.305685  0.627619
3  0.237346  0.429580  0.543632  0.262255  0.434260

In [31]:
df.rename({0:'A',1:'B',2:'C',3:'D',4:'E'},axis='columns')

          A         B         C         D         E
0  0.194422  0.518418  0.054935  0.290098  0.591849
1  0.771704  0.802277  0.382889  0.166231  0.918706
2  0.101814  0.346876  0.798909  0.305685  0.627619
3  0.237346  0.429580  0.543632  0.262255  0.434260

In [35]:
df=[['A','B']]
df

[['A', 'B']]

In [36]:
jiuce=[12,14,25]
sym=['alab','ibo','yoru']
mix={'alab':12,'ibo':14,'yoru':25}

In [37]:
mix

{'alab': 12, 'ibo': 14, 'yoru': 25}

In [38]:
mix['ibo']

14

In [39]:
mix['tam']=19

In [40]:
mix

{'alab': 12, 'ibo': 14, 'yoru': 25, 'tam': 19}

In [41]:
mix['tam']=20

In [42]:
mix

{'alab': 12, 'ibo': 14, 'yoru': 25, 'tam': 20}

In [49]:
del(mix['yoru'])

In [50]:
mix

{'alab': 12, 'ibo': 14}

In [51]:
a=int(input('user input'))
lst=0
for i in range(0,a):
    lst=lst+i
print(lst)

user input5
10

In [54]:
fox[1,2,3,4,5]
hen[num+1,for num in fox]
print(hen)

SyntaxError: invalid syntax (<ipython-input-54-4ef3f50aaab0>, line 2)

In [56]:
fox=[num for num in range(10)]
fox

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
fox[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [58]:
mul=int(input('user input'))
lol=1
for i in range(1,mul):
    lol=lol*i
print(lol)

user input10
362880