In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from numpy.random import rand

In [5]:
df=pd.DataFrame(rand(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.705425  0.473516  0.336566  0.308940
B  0.282507  0.195407  0.667633  0.842010
C  0.085154  0.781166  0.044988  0.437112
D  0.719944  0.114606  0.524346  0.709447
E  0.791445  0.325154  0.714826  0.696958

In [6]:
df['new']=df['W']+df['Y']

In [8]:
df

          W         X         Y         Z       new
A  0.705425  0.473516  0.336566  0.308940  1.041991
B  0.282507  0.195407  0.667633  0.842010  0.950140
C  0.085154  0.781166  0.044988  0.437112  0.130142
D  0.719944  0.114606  0.524346  0.709447  1.244291
E  0.791445  0.325154  0.714826  0.696958  1.506271

In [10]:
df.drop(['new'],axis=1)

          W         X         Y         Z
A  0.705425  0.473516  0.336566  0.308940
B  0.282507  0.195407  0.667633  0.842010
C  0.085154  0.781166  0.044988  0.437112
D  0.719944  0.114606  0.524346  0.709447
E  0.791445  0.325154  0.714826  0.696958

In [11]:
df

          W         X         Y         Z       new
A  0.705425  0.473516  0.336566  0.308940  1.041991
B  0.282507  0.195407  0.667633  0.842010  0.950140
C  0.085154  0.781166  0.044988  0.437112  0.130142
D  0.719944  0.114606  0.524346  0.709447  1.244291
E  0.791445  0.325154  0.714826  0.696958  1.506271

In [12]:
df[['W','Y']]

          W         Y
A  0.705425  0.336566
B  0.282507  0.667633
C  0.085154  0.044988
D  0.719944  0.524346
E  0.791445  0.714826

In [13]:
df['new']

A    1.041991
B    0.950140
C    0.130142
D    1.244291
E    1.506271
Name: new, dtype: float64

In [15]:
df['W']>0.5

A     True
B    False
C    False
D     True
E     True
Name: W, dtype: bool

In [19]:
df=pd.DataFrame(rand(5,6))
df

          0         1         2         3         4         5
0  0.593276  0.089201  0.782415  0.404260  0.430131  0.377723
1  0.512933  0.294300  0.652510  0.592619  0.932424  0.905391
2  0.507614  0.761735  0.294396  0.251832  0.745355  0.190070
3  0.220423  0.501094  0.262788  0.243079  0.794477  0.193129
4  0.134229  0.851415  0.136293  0.512710  0.205112  0.830784

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      float64
 1   1       5 non-null      float64
 2   2       5 non-null      float64
 3   3       5 non-null      float64
 4   4       5 non-null      float64
 5   5       5 non-null      float64
dtypes: float64(6)
memory usage: 368.0 bytes

In [22]:
df.describe()

              0         1         2         3         4         5
count  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.393695  0.499549  0.425681  0.400900  0.621500  0.499420
std    0.202715  0.317437  0.276688  0.155240  0.296621  0.346026
min    0.134229  0.089201  0.136293  0.243079  0.205112  0.190070
25%    0.220423  0.294300  0.262788  0.251832  0.430131  0.193129
50%    0.507614  0.501094  0.294396  0.404260  0.745355  0.377723
75%    0.512933  0.761735  0.652510  0.512710  0.794477  0.830784
max    0.593276  0.851415  0.782415  0.592619  0.932424  0.905391

In [26]:
df.rename({0:'A',1:'B',2:'C',3:'D',4:'E',5:'F'},axis='columns')

          A         B         C         D         E         F
0  0.593276  0.089201  0.782415  0.404260  0.430131  0.377723
1  0.512933  0.294300  0.652510  0.592619  0.932424  0.905391
2  0.507614  0.761735  0.294396  0.251832  0.745355  0.190070
3  0.220423  0.501094  0.262788  0.243079  0.794477  0.193129
4  0.134229  0.851415  0.136293  0.512710  0.205112  0.830784

In [29]:
a=np.arange(10)

In [30]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [31]:
a.reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [39]:
num=int(input('user num'))
mul=0
for i in range(2,num):
    if num%i==0:
        mul=mul+i
if mul==0:
    print('its a prime num')
else:
    print('its not a prime num')

user num5
its a prime num

In [40]:
mul=int(input('user num'))
adm=0
for i in range(2,mul):
    if mul==0:
        adm=adm+i
if mul%i==0:
    print('in the loop',i)
else:
    print('outside the loop',i)

user num15
outside the loop 14

In [41]:
kel=int(input('use num'))
ken=0
for i in range(2,kel):
    if kel==0:
        ken=ken+i
if kel%i==0:

SyntaxError: unexpected EOF while parsing (<ipython-input-41-d31e835cbfd0>, line 8)